package components

templ Button(buttonType string) {
    <button class="bg-blue-400 rounded-md p-2 px-4 outline-none ring-slate-800 dark:ring-yellow-200 focus-visible:ring duration-200">
        { children... }
    </button>
}
