package components

import "slices"
import "ddn/ddn/db"

type FuzzySelectProps struct {
	Name    string
	Value   string
	Options []db.Option
	Form    string
	Label   string
}

templ FuzzySelect(p FuzzySelectProps) {
	<div class="fuzzy-select relative">
		<p class="mb-2">{ p.Label }</p>
		<div class="js-mount"></div>
		<select class="bg-white text-black" name={ p.Name }>
			for _, option := range p.Options {
				<option value={ option.Value } selected?={ option.Value == p.Value }>{ option.Text }</option>
			}
		</select>
	</div>
}

type MultiFuzzySelectProps struct {
	Name    string
	Value   []string
	Options []db.Option
	Form    string
	Label   string
}

templ MultiFuzzySelect(p MultiFuzzySelectProps) {
	<label class="fuzzy-select relative">
		<p class="mb-2">{ p.Label }</p>
		<div class="js-mount"></div>
		<select class="block w-full min-w-0 bg-white text-black" form={ p.Form } multiple name={ p.Name }>
			for _, option := range p.Options {
				<option class="" value={ option.Value } selected?={ slices.Contains(p.Value, option.Value) }>{ option.Text }</option>
			}
		</select>
	</label>
}
