{{define "head"}}
    <title>This is the title of the products page yk</title>
{{end}}

{{define "body"}}
    <h1 class="p-4 bg-blue-400 mb-4">Products</h1>

    <main class="max-w-prose mx-auto">
        {{range .}}
            <article class="shadow-md p-4 rounded-md mb-4">
                <h2 class="flex">{{.Name}} <span class="text-gray-600 ml-auto">{{.Category}}</span><span class="p-3 rounded-lg ml-4" style="background-color: {{.Color}}"></span></h2>
                <p>{{.Length_Inches}}x{{.Width_Inches}}x{{.Height_Inches}}</p>
            </article>
        {{end}}

        <a href="/products/new" class="rounded-full shadow-lg mx-auto block text-4xl w-16 h-16 flex items-center justify-center">+</a>
    </main>
{{end}}
